.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-wrapper {
  width: 720px;
  height: 400px;
  background: #1d1d1d;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.App-container {
  color: #fff;
}

.App-tab-list {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.App-tab-item {
  margin-right: 20px;
  font-size: calc(10px + 2vmin);
}


